input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #000 !important;
}

:host-context(.dark) input:focus {
  border-color: #fff !important;
}

.form-container {
  border-radius: 24px;
}