.display-font {
    font-family: 'Outfit', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

/* Custom scrollbar for this component specifically if needed, or globally */
:host {
    ::ng-deep ::-webkit-scrollbar {
        width: 4px;
    }

    ::ng-deep ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::ng-deep ::-webkit-scrollbar-thumb {
        background: #e5e5e5;
        border-radius: 10px;
    }

    ::ng-deep .dark ::-webkit-scrollbar-thumb {
        background: #333;
    }
}